<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MAVRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3" style="background-color: #138D75
">
            <div class="container">
                <a class="navbar-brand">
                    <img src="/images/covid.png" class="logo1">

                </a>
                <a class="navbar-brand text-light" asp-area="" asp-controller="Admin" asp-action="Dashboard">MAVRS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @{ if (ViewData["pass"] == "3")
                            {
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Create">Users</a>
                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Mothers" asp-action="Create">Mothers</a>
                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-light" asp-area="" asp-controller="Mothestatus" asp-action="Create">Motherstatus</a>
                                                </li>
                                                                <li class="nav-item btn btn-primary">
                                                                    <a class="nav-link text-light" asp-area="" asp-controller="Admins" asp-action="Login">Login</a>
                                                                </li>
 } }
                        @*<li class="nav-item btn btn-primary">

                            <a class="nav-link text-light" asp-area="" asp-controller="Admins" asp-action="Login">

                                Check status
                            </a>*@
                        </li>
                    </ul>
                </div>
            </div>
            <a class="btn btn-success ml-auto mr-1" asp-action="Dashboard" asp-controller="Admins">Home &nbsp;<i class="fa fa-home" aria-hidden="true"></i></a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @{ if (ViewData["pass"] == "3")
                {



    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @RenderBody()

        </div>

    </div> }
else
{

<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
        <div class="card card-1 d-flex ustify-content-center">

            <div class="card-body text-center">
                <img src="/images/logo.png" style="height:80%;width:60%" alt="First slide">

                <h5 class="card-title">Kericho County Referral Hospital Antenatal Care Reminder system</h5>
                <p class="card-text">Reminding expectant mothers of their next visits to the ANC</p>

            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
        @RenderBody()

    </div>
</div> } }
        </main>
    </div>

    <footer class="border-top footer text-muted text-center" style="background-color: #138D75">
        <div class="container text-light">
            &copy; 2021 - MAVRS - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
